<h2>Thank You For Your Order</h2>

@foreach (var item in ViewBag.Order.Pizzas)
{
    <p>Your Pizza will Cost: @item.PizzaPrice</p>
    <p>Size: @item.Size</p>
    <p>Crust: @item.Crust</p>
    <p>Sauce: @item.Sauce</p>
    <p>Cheese: @item.Cheese</p>
    <p>Toppings:</p>

    <ul>
    @foreach (var topper in item.Toppings)
        {
            <li>@topper</li>
        }
    </ul>
}

<p>Your Total is: @ViewBag.Order.OrderTotal</p>

<a href="/home/index">Return to Main Page</a>